.bg-image {
  background: linear-gradient(to left, #ffffff, #e6e6e6);
  height: 120vh;
  width: 100vw;
  /* position: fixed; */
}

.color-div {
  background-color: white;
  width: 27%;
  height: 100%;
}

.form-floating {
  width: 290px
}

.reg-div {
  background-color: #7c9cd7;
  width: 290px
}

.reg {
  font-size: small;
  margin-left: -95px;
}

.userLogo {
  font-size: 30px;
}

.waves {
  width: 100%;
  z-index: 99;
  margin-top: 0px;
  padding: 0px;
}